:root {
    --primary-color: #111827;
    --secondary-color: #1F2937;

    /* <=== FONT COLOR ===> */
    --primary-font-color: #ffffff;
    --secondary-font-color: #9CA3AF;
    --third-font-color: #ffffff7c;
}

body {
    margin: 0;
    font-family: poppins, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}